.idea
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-debug
.DS_Store

boilerplate/boilerplate
insertion-sort/insertion-sort
merge-sort/merge-sort
quick-sort/quick-sort
random/random
selection-sort/selection-sort
swap-sort/swap-sort
monkey-sort/monkey-sort
std-sort/std-sort
inverse/inverse
data/*/